body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(64, 64, 64);
}

#text-box {
  width: 70%;
  height: 50%;
  position: absolute;
  left: 15%;
  top: 5%;
}

#errors {
  width: 70%;
  height: 20%;
  position: absolute;
  left: 15%;
  bottom: 5%;
  background-color: white;
  overflow-y: scroll;
}

.error {
  background-color: red;
}